
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #f8f9fa;
  color: #212529;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon {
	svg{
		path{
			transition: all 0.3s ease-out;
		}
	}
	&:hover {
		svg{
			path{
				fill: #908e8e;
			}
		}
	}
	&__telegram:hover{
		svg{
			path{
				
				fill: #39a1d3;
			}
		}
	}
	&__github:hover {
		svg{
			path{
				fill: black;
			}
		}
	}
	svg{
		path{
			fill: #adadad;
		}
	}
} 